* *::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.appContainer {
  margin: auto;
  width: 50%;
}

.chatMessage {
  font-size: 15rem;
}

.text-green {
  color: green;
}
